[Unit]
Description=CCU Heartbeat Service
After=network.target syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/heartbeat -c /etc/ccu/heartbeat.ini

Restart=always
RestartSec=2s

Environment="LD_LIBRARY_PATH=/usr/lib/ccu"

User=root
Group=root

StandardError=append:/var/log/ccu/%N.error.log

[Install]
WantedBy=multi-user.target