/************************************************************************
Ce fichier contient les elements de style des pages du site web
************************************************************************/
#map {  
    width: 100%;
    height: 80%;
}