[submodule "central-command-unit/external/inih"]
	path = central-command-unit/external/inih
	url = https://github.com/benhoyt/inih.git
[submodule "central-command-unit/external/mosquitto"]
	path = central-command-unit/external/mosquitto
	url = https://github.com/eclipse-mosquitto/mosquitto.git
[submodule "central-command-unit/external/cJSON"]
	path = central-command-unit/external/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "central-command-unit/external/uthash"]
	path = central-command-unit/external/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "central-command-unit/external/marvelmind"]
	path = central-command-unit/external/marvelmind
	url = https://github.com/MarvelmindRobotics/marvelmind.c.git
