/************************************************************************
Ce fichier contient les elements de style des pages du site web
************************************************************************/
#map {  
    width: 70%;
    height: 80vh;
}

/* style du bouton delete */
.deleteBtn {
    background-color: transparent;
    position: relative;
    border: none;
}
.icon {
    transform: scale(1.1);
    transition: .2s linear;
}
.deleteBtn:hover > .icon {
    transform: scale(1.4);
}
.deleteBtn:hover > .icon path {
    fill: rgb(168, 7, 7);
}

/* style du bouton de calcul de trajet */
#cancelTravelBtn {
    display: none;
}
#calculTravelBtn, #cancelTravelBtn {
    width: 15em;
    height: 2.5em;
    border-radius: 15em;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;

}
#calculTravelBtn::before {
    content: '';
    width: 0;
    height: 2.5em;
    border-radius: 15em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
#editTravelBtn::before {
    content: '';
    width: 0;
    height: 2.5em;
    border-radius: 15em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fa2d8 0%, #7cf5fe 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
#cancelTravelBtn::before {
    content: '';
    width: 0;
    height: 2.5em;
    border-radius: 15em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #f31911df 0%, #f9ad08 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
#calculTravelBtn:hover::before, #cancelTravelBtn:hover::before {
    width: 15em;
}

.arrow-marker {
    font-size: 50px;
    color: red;
}

.leaflet-tooltip.custom-tooltip {
    background: white !important;
    opacity: 0.95 !important;
    border-radius: 10px !important;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4) !important;
    padding: 4px;
}