/************************************************************************
Ce fichier contient les elements de style des pages du site web
************************************************************************/
#map {  
    width: 70%;
    height: 80vh;
}